<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>airplane_ticket_reservation_system</display-name>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>REST</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/hw13/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>srv1</servlet-name>
    <servlet-class>Servlet.Servlet_ATR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>srv1</servlet-name>
    <url-pattern>/Servlet_ATR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>srv2</servlet-name>
    <servlet-class>Servlet.buyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>srv2</servlet-name>
    <url-pattern>/buyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>srv3</servlet-name>
    <servlet-class>Servlet.editServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>srv3</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>srv4</servlet-name>
    <servlet-class>Servlet.showServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>srv4</servlet-name>
    <url-pattern>/showServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>srv5</servlet-name>
    <servlet-class>Servlet.canselServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>srv5</servlet-name>
    <url-pattern>/canselServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>f1</filter-name>
    <filter-class>Servlet.DateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f1</filter-name>
    <url-pattern>/Servlet_ATR</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>f2</filter-name>
    <filter-class>Servlet.FlightNumberFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f2</filter-name>
    <url-pattern>/Servlet_ATR</url-pattern>
  </filter-mapping>
</web-app>